!!! 5
%html{ lang: "ja" }
  %head
    %title= "ason.as"
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = display_meta_tags
    %link{ rel: "preconnect", href: "https://fonts.googleapis.com" }
    %link{ rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: "" }
    / サイト本体のCSSは実体ファイルとして読み込む。JS経由(style-loader)で注入するとスタイル適用がJS実行待ちになりレンダリングをブロックするため使わない。
    %link{ rel: "stylesheet", href: "/stylesheets/site.css" }
    / Google Fontsはレンダリングをブロックしないよう、印刷メディアとして読み込んでから全メディアへ切り替える。JS無効環境向けにnoscriptで通常読み込みも残す。
    - fonts_href = "https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,600;1,9..144,400&family=Zen+Kaku+Gothic+New:wght@400;500;700&family=Zen+Old+Mincho:wght@400;600;700&display=swap"
    %link{ rel: "stylesheet", href: fonts_href, media: "print", onload: "this.media='all'" }
    %noscript
      %link{ rel: "stylesheet", href: fonts_href }
    %link{ rel: "author", href: "http://www.hatena.ne.jp/asonas/" }
    %meta{ name: "Hatena::Bookmark", content: "nocomment" }

  %body
    .shell
      %header.masthead
        %a.brand{ href: "/" } ason.as
        %nav.site-nav
          %a{ href: "/", class: ("is-active" if current_page.url == "/") } トップ
          %a{ href: "/articles", class: ("is-active" if current_page.url.start_with?("/articles")) } 記事一覧
          %a{ href: "/feed" } Feed
      %main
        = yield
      %footer.site-footer
        .social-links
          %a.social-link{ href: "https://github.com/asonas", "aria-label": "GitHub" }
            = inline_svg("github")
          %a.social-link{ href: "https://twitter.com/asonas", "aria-label": "X / Twitter" }
            = inline_svg("x")
          %a.social-link{ href: "https://instagram.com/asonas", "aria-label": "Instagram" }
            = inline_svg("instagram")
          %a.social-link{ href: "https://www.flickr.com/photos/asonas", "aria-label": "Flickr" }
            = inline_svg("flickr")
          %a.social-link{ href: "https://facebook.com/asonas.P", "aria-label": "Facebook" }
            = inline_svg("facebook")
          %a.social-link{ href: "http://tumblr.ason.as/", "aria-label": "Tumblr" }
            = inline_svg("tumblr")
          %a.social-link{ href: "http://www.amazon.co.jp/registry/wishlist/BLMOXOOR4JFK", "aria-label": "Amazon Wishlist" }
            = inline_svg("amazon")
          %a.social-link{ href: "https://asonas.hatenadiary.org/", "aria-label": "はてなダイアリー" }
            = inline_svg("hatenabookmark")
          %a.social-link{ href: "http://asonas.hatenablog.com/", "aria-label": "はてなブログ" }
            %img{ src: "/images/asonashatenablog.jpg", alt: "はてなブログ" }
        %p.colophon asonas a.k.a Yuya Fujiwara
